{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.shortin_name }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <!-- FORM HERE -->
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">
        Profile Information
      </legend>
      {{ u_form|crispy }}
      {{ p_form|crispy }}
    </fieldset>

    <div class="form-group">
      <button class="btn btn-outline-primary" type="submit">
        Update
      </button>
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-outline-danger float-right " data-toggle="modal" data-target="#myModal">
        Delete Account
      </button>
    </div>
  </form>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Account</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete your account?
            </br>
            <small>This will delete all your posts as well.</small>
          </p>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <a href="{% url 'remove_user'%}">
            <button type="button" class="btn btn-outline-danger " data-toggle="modal" data-target="#myModal">
              Delete Account
            </button>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}